.u-section-1 .u-sheet-1 {
  min-height: 131px;
}

.u-section-1 .u-image-1 {
  width: 131px;
  background-image: url("images/twilio-mark-red.png");
  background-position: 50% 50%;
  left: 0;
  right: auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: -8px 40px 0 auto;
}

.u-section-2 .u-image-1 {
  width: 314px;
  height: 303px;
  margin: 212px auto 0 256px;
}

.u-section-2 .u-list-1 {
  width: 182px;
  margin: -282px 306px 0 auto;
}

.u-section-2 .u-repeater-1 {
  min-height: 262px;
  grid-template-columns: 100%;
  grid-gap: 41px 41px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 8px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 0 auto;
  padding: 6px 39px 6px 37px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 8px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 0 auto;
  padding: 6px 39px 6px 37px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 8px;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 0 auto;
  padding: 6px 39px 6px 37px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-top: 106px;
    margin-left: 180px;
  }

  .u-section-2 .u-list-1 {
    margin-right: 226px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-1 {
    margin-left: 26px;
  }

  .u-section-2 .u-list-1 {
    margin-right: 158px;
  }
}